
    <body>
        <div class="container">
            <h2>change Password</h2>
            <form id="changePasswordForm">
                <label for="currentPassword">Current password</label>
                <input type="password" id="currentPassword" name="currentPassword" required>
    <br>
                <label for="newPassword">new Password</label>
                <input type="password" id="newPassword" name="newPassword" required>
    <br>
                <label for="confirmPassword">Verify password</label>
                <input type="password" id="confirmPassword" name="confirmPassword" required><br>
    
                <button type="submit">Change password</button>
            </form>
    
            <div id="message"></div>
        </div>
        
        
    </body>



<!--

2.	מסך לשינוי סיסמא עבור משתמש 
a.	הזנת סיסמא קיימת 
b.	הכנסת סיסמא חדשה אשר תעמוד בדרישות כפי שמוגדר בקובץ הקונפיגורציה
