<title>Forgot Password</title>
    
<body>
        <h1>Forgot Password</h1>

        <form action="/Forgot_Password" method="POST">

            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" required>
            </div>

            <button type="submit">Send Reset Token</button>

        </form>    
</body>
</html>

