<body>
    <h1>Comunication LTD login pag </h1>

    <form action="/Login" method="post">

        <div>
            <label for="username"> enter username:</label>
            <input type="text" name="username" id="username" >
        </div>

        <div>
            <label for="password"> enter password:</label>
            <input type="password" name="password" id="password" >
        </div>

    
        <button type="submit">Login</button>

    </form>

</body><br><br>
<a href="/Forgot_Password">I_forgot_my_password</a>

