<title>Comunication LTD login page </title>

<body>
    <h1>New Regsiter page</h1>

    <form action="/Login" method="post">

        <div>
            <label for="username"> enter username:</label>
            <input type="text" name="username" id="username" placeholder="enter username">
        </div>

        <div>
            <label for="password"> enter password:</label>
            <input type="password" name="password" id="password" placeholder="enter password">
        </div>

    
        <button type="submit">Login</button>

    </form>

</body><br><br>
<a href="/Forgot_Password">I_forgot_my_password</a>




<!--
3.	מסך Login " למערכת מידע Comunication_LTD " 
a.	הזנת יוזר 
b.	הזנת סיסמא 
c.	בדיקה אם המשתמש קיים או לא והחזרת הודעה מתאימה. 