

    <title>Registration page</title>
</head>
<body>
    <h1>New Regsiter Page</h1>
<form action="/New_Register" method="POST">
<!--email input:                                                                -->    
<label for="email">Email</label>
<input type="email" id="email" name="email" required><br>

<!--password input:                                                     --> 
<label for="password">Password</label>
<input type="password" id="password" name="password" required><br>
<!--submit button:                                                        --> 
    <button type="submit">Rgister</button>
</form>
</body>



<!--
1.	מסך Register של משתמשים חדשים 
a.	הגדרת יוזרים חדשים 
b.	הגדרת סיסמא מורכבת ( הגדרות ודרישות סיסמא מורכבת ינוהל באמצעות קובץ קונפיגורציה)
c.	סיסמא תשמר במסד הנתונים באמצעות שימוש בפונקציית HMAC + Salt 
d.	הגדרת מייל למשתמש
