<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Token</title>
</head>
<body>
    <h1>Enter Reset Token</h1>
    <form action="/Reset_Token" method="POST">
        <label for="token">Reset Token:</label>
        <input type="text" id="token" name="token" required>
        <button type="submit">Submit</button>
    </form>

</body>
</html>