<body>
    <h1>System Page</h1>
    
    <form action="/System_Page" method="post">

        <div>
            <label for="newcustomer"> enter a new customer:</label>
            <input type="text" name="newcustomer" id="newcustomer" >
        </div>

                <button type="submit">Add</button>

    </form>
    
</body>

