
    <title>System page</title>
</head>
<body>
<label>add a new customer :</label><input type="text"><br>
    <button type="submit">Add</button>
</body>

<!--
מסך מערכת 
a.	הכנסת לקוח חדש עם פרטים חדשים. 
b.	הצגה למסך את שם לקוח החדש שהוזן. 
-->